
# Android Studio
.idea/
*.iml

# Gradle cache (NO necesario)
.gradle/

# Builds generados
build/
app/build/

# Configuración local SDK
local.properties

# Native build
.externalNativeBuild/
.cxx/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db
